doctype html
html
    head
        title dino
        meta(charset="utf-8")
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        link(href="./login.css", rel="stylesheet" type="text/css")
        script(href="http://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js")
        link(href="http://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js")
        script(src="jquery.min.js")
        script(src="socket.io.js")
        script(src="./dino_p.js")
    body
        img(src = "res/pic3.png")

        button(id="letter_icon" class='button' onclick="read_letter()")
            img(src = "res/letter.png")
        
        